<h3>My Profile</h3>

<div *ngIf="currentUser">
  <div class="col-8 mx-auto px-5 rounded-4">
    <div class="card mb-5">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="text-label">Nickname</h6>
          </div>
          <div class="col-sm-9">
            <span class="text-value" [textContent]="currentUser.nickname"></span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3 text-label">
            <h6 class="text-label">Email</h6>
          </div>
          <div class="col-sm-9">
            <span class="text-value" [textContent]="currentUser.email"></span>
          </div>
        </div>
        <hr>
        <div>
          <button type="button" (click)="edit()" class="btn btn-dark">
            <i class="bi bi-pencil-square icon-size"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

