@import "bootstrap-icons";

.text-label {
  display: flex;
  justify-content: center;
}

.text-value {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

div button {
  height: 44px;
  width:54px;
}
