<h3 *ngIf="authService.isLoggedIn()">Database Of Fails</h3>

<div class="container">
<!--  <div  *ngIf="!fails">
    <h4 [textContent]="'No fails!'"></h4>
  </div>-->
  <ng-container *ngFor="let fail of fails">

    <div class="card">
      <div class="card-header" routerLink="{{'/fails/' + fail.id}}" routerLinkActive="active">
        <img src="{{'data:image/png;base64,' + fail.mainImage.content}}">
      </div>
      <div class="card-body">
        <span class="tag tag-black" style="position: absolute; margin-left: auto; top: 215px;">{{fail.date | date}}</span>
        <h5 class="card-text" style="text-align: left;">{{fail.name}}</h5>
      </div>

      <!--Pdf Button-->
      <div class="buttons" style="position: absolute; right: 20px; top: 20px;">
        <button class="btn btn-dark" style="border-radius: 10px;" (click)="loadPdf(fail.id)">
          <i class="bi bi-filetype-pdf"></i>
        </button>
      </div>

      <!--Like/Unlike and Chat-->
      <div style="position: absolute; display: flex; align-items: center; right: 30px; top: 345px; cursor: pointer;">
        <div *ngIf="!fail.likedByUser" style="display: flex; align-items: center; margin-right: 20px; cursor: pointer;">
          <i class="bi bi-heart" style="margin-right: 5px" (click)="likeFail(fail.id)"></i>
          {{fail.likes}}
        </div>
        <div *ngIf="fail.likedByUser" style="display: flex; align-items: center; margin-right: 20px; cursor: pointer;">
          <i class="bi bi-heart-fill" style="margin-right: 5px" (click)="unlikeFail(fail.id)"></i>
          {{fail.likes}}
        </div>
        <div style="display: flex; align-items: center; cursor: pointer;">
          <i class="bi bi-chat-right" style="margin-right: 5px"></i>
          {{fail.comments}}
        </div>
      </div>
    </div>

  </ng-container>
</div>

<!--Scroll To Top Button-->
<button *ngIf="authService.isLoggedIn()" class="btn btn-dark float-right" (click)="scrollToTop()"
        style="position: fixed; right: 35px; bottom: 50px; border-radius: 10px;">
  <i class="bi bi-arrow-up"></i>
</button>
